
/* {$desktop= 1200px;
$laptop =  1024px;
$tablet =  768px;
$mobilel = 600px;
$mobiles =320px;} */



/*------Define custom css variables------*/
:root{
	--primary-color: rgba(75, 104, 191,1.0);	
}



/*-----Global styling-------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html{
	scroll-behavior: smooth;
}


body{
	/*background-color: lightblue;*/
	font-family: "montserrat", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	overflow-x: hidden;
}


::before, ::after{
	box-sizing: border-box;
}


a{
	text-decoration: none;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*background-color: blue;*/
}

img{
	vertical-align: middle;
	max-width: 100%;
}


/* main{
	scroll-snap-type: y proximity;
	overflow-y: scroll;
	height: 100vh;
	scroll-padding: 120px;
}

.about-me{
	scroll-snap-align: start;
}
.my-services{
	scroll-snap-align: start;
}
.project-request{
	scroll-snap-align: start;
}
.recent-work{
	scroll-snap-align: start;
}
.testimonial{
	scroll-snap-align: start;
}
.form-cont{
	scroll-snap-align: start;
} */


/*------Nav Bar ---------*/


nav{
	width:100%;
	height:80px;
	background-color: #fff;
	position: fixed;
	z-index: 100;
	box-shadow: 0.2px 0px 8px #bdbdbd;
		
}

.container{
	width: 85%;
	height: 70px;
	/* background-color: red; */
	margin: auto;
	/*max-width: 1140px;*/
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 60px;
	height: 60px;
	/*background-color: rgba(75, 104, 191,1.0);*/
	display: inline-block;
	border: 2px solid rgba(75, 104, 191,1.0);
	border-radius: 50%;
	margin-top: 10px;
}

.logo a{
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;
	color: rgba(75, 104, 191,1.0);
	/*width: 6.2%;*/
	/*margin-top: 0px;*/
}

.hamburger{
	float: right;
	background: transparent;
	cursor: pointer;
	padding: 5px;
	margin-top: 25px;
	border: none;
	color: rgba(75, 104, 191,1.0);
}


.closeMenu{
	color: rgba(75, 104, 191,1.0);
	cursor: pointer;
	background: none;
	border: none;
	float: right;
	display: block;
	position: absolute;
	top: 25px;
	right: 40px;
}


.menu-items{
	font-size: 16px;
	display: none;
	padding: 10px;
	width: 100%;
	height: 80vh;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: rgba(39, 38, 38, 0.98);
	border-radius: 0px 0px 10px 10px;
	transition: top 1s ease;
}

nav div ul li a{
	color: black;
	position: relative;
}

nav div ul li a:hover{
	color: rgb(75, 104, 191);
	/*border: 1px solid rgb(75, 104, 191);*/
	transition: 0.3s;
}

nav div ul li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	-webkit-transform: translateX(-50%) scaleX(0);
	/*transform-origin: 50% 50%;*/
	/* -webkit-transform-origin: 50% 50%; */
	width: 100%;
	height: 2px;
	background-color: rgba(75, 104, 191,1.0);
	transition: transform 250ms;
	-webkit-transition: transform 250ms;
}

nav div ul li a:hover:after{
	-webkit-transform: translateX(-50%) scaleX(1);
	transform: translateX(-50%) scaleX(1);

}


 
.menu-items > li{
	padding: 10px;
	margin: 0px;
	margin: auto;
	text-align: center;
}

.menu-items a{
	color: white;
	justify-content: center;
} 

/*-----------Nav Bar End--------------*/



/*----------Hero Box Section----------*/

.hero-box{
	width:100%;
	height:550px;
	display: block;
	overflow-y: hidden;
	/*background-color: white;*/
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	position: relative;
	overflow-x: hidden;
}

.hero-overlay{
	width: 101%;
	height: 102%;
	position: absolute;
	background-image: url("Assets/wallpaper group2.svg");
	/* background-color: blue; */
	background-repeat: no-repeat;
	background-size: cover;
}

.effect-div .effect{
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 30px;
	border: 4px solid rgba(75, 104, 191, 1.0);
	right: 11%;
	bottom: 53%;
	animation: spin 5s linear -1s infinite
	;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.main-container{
	width: 85%;
	height: 70%;
	position: relative;
	/* background-color: aqua; */
	margin:auto;
	margin-top:120px;
}

.hero-container{
	max-width: 100%;
	height: 390px;
	/* background-color: blueviolet; */
	/*position: absolute;*/
	margin-top: 150px;
	display: flex;
	/* flex: 0 0 200px; */
	flex-direction: row;
}

.hero-overlay > img{
	width: 180px;
	position: absolute;
	bottom: 5px;
	right: 0px;
	/* max-width: 100%; */
	/* display: none; */
}

.hero-content{
	/* background-color: yellow; */
	display: flex;
	flex-direction: column;
	flex: 0.5 1 250px;
}

.hero-content > h1{
	color: black;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	/* margin-bottom: auto; */
}

.hero-content > p{
	color: black;
	text-indent: 0px;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.hero-button a{
	color: white;
}

.hero-button{
	display: block;
	border: 1px  solid rgba(75, 104, 191,1.0) ;
	padding: 14px 30px ;
	border-radius: 30px;
	background-color: rgba(75, 104, 191,1.0);
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 14px;
	max-width: max-content;
}

.hero-button:hover{
	background-color: rgba(75, 104, 191,0.8);
	transition: all 0.5s linear;
	/*color: whitesmoke;*/
}

.hero-button:active{
	background-color: rgba(75, 104, 191,0.7);
	transition: none;
}

.hero-socials{
	width: 200px;
	height: 45px;
	/* background-color: rgba(15, 255, 100, 1.0); */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.social-fb{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-size: cover;
	overflow: hidden;
	transition: border 0.3s;
}


.social-fb:hover{
	border: 2px solid rgba(75, 104, 191, 0.8);
	box-shadow: 0 0 5px rgba(75, 104, 191, 0.7);
	transition: all 0.5s linear;
}

.social-fb:focus,
.social-fb:active{
	border: 2px solid rgba(0, 0, 0, 0.8);
	transition: none;
}

.social-li{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-size: cover;
	transition: border 0.3s;
}

.social-li:hover{
	border: 2px solid rgba(75, 104, 191, 0.8);
	box-shadow: 0 0 5px rgba(75, 104, 191, 0.7);
	transition: all 0.5s linear;
}

.social-li:focus,
.social-li:active{
	border: 2px solid rgba(0, 0, 0, 0.8);
	transition: none;
}


.social-tw{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-size: cover;
	transition: border 0.3s;
}

.social-tw:hover{
	border: 2px solid rgba(75, 104, 191, 0.8);
	box-shadow: 0 0 5px rgba(75, 104, 191, 0.7);
	transition: all 0.5s linear;
}

.social-tw:focus,
.social-tw:active{
	border: 2px solid rgba(0, 0, 0, 0.8);
	transition: none;
}

.social-fb img{
	width: 70%;
	margin: auto;
	margin-top: 6px;
	margin-left: 6px;
}

.social-tw img{
	width: 70%;
	margin: auto;
	margin-top: 6px;
	margin-left: 6px;
}

.social-li img{
	width: 70%;
	margin: auto;
	margin-top: 5px;
	margin-left: 6px;
}


/*---------About Me Section----------*/

.about-me{
	height: 1680px;
	/* background-color: red; */
	background-color: white;
	display: block;
	position: relative;
	padding-top: 30px;
}

.about-me-box1{
	/* background-color: yellow; */
	padding: 10px;
	margin: 20px;
}

.about-me-box1-cont {
	width: 80%; 
	height: 360px;
	margin: auto;
	letter-spacing: 0.5px;
	/* border: 1px solid red; */
	text-align: center;
}

.about-me-box2 {
	padding: 10px;
	margin: 20px;
	height: 1133px;
	/* background-color: white; */
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
}

.about-me-left{
	/* border: 1px solid white; */
	padding: 15px;
	/*display: grid;*/
}

.about-me-left > p{
	margin-top: 20px;
	color: black;
	text-align: justify;
	/*background-color: darkred;*/
}

.birth img{
	width: 12px;
	height: 12px;
}

.birth{
	margin-top: 10px;
	/* padding: 15px; */
}

/* .birth p{
	color: black;
} */

.about-me-right{
	display: grid;
	padding: 15px;
	margin-top: 20px;
	border: 2px solid rgba(117, 78, 249, 1.0);
	justify-content: center;
	/* align-content: center; */ 
	grid-column-gap: 30px;
	grid-row-gap: 5px;
	/* margin: 10px; */
	grid-template-columns: auto auto;
	grid-template-rows: 1fr 1fr 1fr;
}

.about-me-right div{
	/* background-color: black; */
	width: 100px;
}

.splash-cont{
	display: none;
}

.splash1, .splash2, .splash3, .splash4, .splash5, .splash6, .splash7{
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: rgb(238, 66, 14);
	position: absolute;
}

.splash1{
	bottom: 220px;
	right: 25px;
	animation: star 3s linear infinite alternate;
}

@keyframes star{
	0% {background-color: rgba(0, 0, 0, 0.8);}
	50% {background-color: rgb(238, 66, 14);}
	100% {background-color: rgba(117, 78, 249, 0.7);}
}

.splash2{
	bottom: 350px;
	right:110px;
	animation: star 4s linear infinite alternate;
}

.splash3{
	bottom: 190px;
	right:250px;
	animation: star 5s linear infinite alternate;
}

.splash4{
	bottom: 500px;
	right: 150px;
	animation: star 6s linear infinite alternate;
}

.splash5{
	bottom: 190px;
	right: 130px;
	animation: star 2s linear infinite alternate;
}

.splash6{
	bottom: 600px;
	right: 100px;
	animation: star 3s linear infinite alternate;
}

.splash7{
	bottom: 470px;
	right: 270px;
	animation: star 4s linear infinite alternate;
}

/*-------About me Section end---------*/



/*-----------My Services Section--------*/

.my-services{
	width: 100%;
	display: block;
	background-color: rgba(251, 251, 251, 1.0);
	/*padding-top: 30px;*/
	/* padding-bottom: 30px; */
}

.my-services-1 h1{
	text-align: center;
	color: black;
	font-size: 35px;
	padding: 20px;
}

.my-services-1 div{
	width: 60%;
	height: 300px;
	margin: auto;
	padding-bottom: 20px;
	/* background-color: rgb(238, 66, 14); */
}

.my-services-1 p{
	color: black;
	text-align: center;
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.my-services-2{
	display: flex;
	flex-direction: row;
	width: 89%;
	height: 500px;
	/*background-color: rgba(237, 237, 237, 0.3);*/
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
	/*justify-content: space-between;*/
	justify-content: center;
	margin: auto;
	margin-top: 50px;
}

.my-services-2 > div{
	width: 260px;
	height: 260px;
	background-color: rgba(255, 255, 255, 1.0);
	margin: 30px;
	padding-top: 20px;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.icon{
	width: 50px;
	height: 50px;
	/*background-color: yellow;*/
	margin: auto;
}

.icon > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.container-item{
	box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.2);
	padding: 14px;
}

.container-item p{
	/*font-size: 15px;*/
	color: black;
	margin-top: 20px;	
}

.uiux{
	width: 50px;
	height: 50px;
	margin: auto;
	/*background-color: yellow;*/
}

.uiux > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.gd-icon{
	width: 50px;
	height: 50px;
	margin: auto;
}

.gd-icon > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.ad-icon{
	width: 50px;
	height: 50px;
	/*background-color: yellow;*/
	margin: auto;
}

.ad-icon > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.wd-icon{
	width: 50px;
	height: 50px;
	margin: auto;
	/*background-color: yellow;*/
}

.wd-icon > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.be-icon{
	width: 50px;
	height: 50px;
	margin: auto;
}

.be-icon > img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

/*-----My Services section end-------*/


/*------Project Request section end-------*/

.project-request{
	width: 100%;
	height: 590px;
	background-image: url('Assets/callcenter2.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	/*padding-top: 40px;*/
}

.project-request-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(117, 78, 249, 0.7);
}


.pr-cont{
	width: 70%;
	height: 250px;
	margin: auto;
	letter-spacing: 0.5px;
}

.pr-cont > h1{
	text-align: center;
	/*margin: 20px;*/
	padding-top: 30px;
	font-size: 40px;
	font-weight: 800;
	color: white;
}

.pr-cont > p{
	margin-top: 20px;
	text-align: center;
	color: white;
}

.button-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	/*min-height: 100vh;*/
}

.cv-button {
	padding: 20px;
}

.hire-me-button {
	padding: 20px;
}


.btn{
	font-size: 15px;
	background-color: white;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid white;
	/*display: block;*/
	outline: none;
	color: rgba(117, 78, 249, 1.0);
	cursor: pointer;
	/*transition: all 0.7s linear;*/
}


.btn-outline{
	font-size: 15px;
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid white;
	display: block;
	color: white;
	outline: none;
	cursor: pointer;
	transition: all 0.7s linear;
}

.btn-outline > a{
	color: white;
}
/*------Project Request Section end---------*/



/*---------Portfolio Section-----------*/

.recent-work{
	width: 100%;
	height: 2280px;
	display: block;
	position: relative;
	background-color: white;
	/* background-color: rgb(48, 92, 150); */
	padding-top: 40px;
}

.recent-work-1{
	text-align: center;
	width: 60%;
	height: 190px;
	/* background-color: black; */
	margin: auto;
	/* position: absolute; */
}

.recent-work-1 > h1{
	font-size: 35px;
}

.recent-work-1 >p{
	color: black;
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.recent-work-2{
	display: flex;
	flex-direction: row;
	width: 70%;
	height:1900px;
	/* position: absolute; */
	/* background-color: yellow; */
	flex-wrap: wrap;
	justify-content: center;
	/*justify-content: space-around;*/
	margin: auto;
}

.container-item1{
	width: 250px;
	height: 250px;
	background-image: url("Assets/man1.jpg");
	background-size: cover;
	margin: 30px;
	/* box-shadow: 1px 1px 5px; */
	border: 1px outset black;
}

.container-item2{
	width: 250px;
	height: 250px;
	background-image: url("Assets/beach.jpg");
	background-size: cover;
	margin: 30px;
	border: 1px outset black;
	/* box-shadow: 1px 1px 5px; */
}

.container-item3{
	width: 250px;
	height: 250px;
	background-image: url("Assets/house2.jpg");
	background-size: cover;
	background-position:;
	margin: 30px;
	border: 1px outset black;
	/* box-shadow: 1px 1px 5px; */
}

.container-item4{
	width: 250px;
	height: 250px;
	background-image: url("Assets/vehicle.jpg");
	background-size: cover;
	background-position: center;
	margin: 30px;
	border: 1px outset black;
	/* box-shadow: 1px 1px 5px; */
}

.container-item5{
	width: 250px;
	height: 250px;
	background-image: url("Assets/family.jpg");
	background-size: cover;
	margin: 30px;
	border: 1px outset black;
	/* box-shadow: 1px 1px 5px; */
}

.container-item6{
	width: 250px;
	height: 250px;
	background-image: url("Assets/pizzza.jpg");
	background-size: cover;
	margin: 30px;
	border: 1px outset black;
	/* box-shadow: 1px 1px 5px ; */
}


.work-button{
	display: block;
	width: 150px;
	/* position: static; */
	border: 0;
	padding: 16px 30px;
	border-radius: 30px;
	background-color: rgba(75, 104, 191,1.0);
	color: white;
	outline: none;
	cursor: pointer;
	transition: all 0.7s linear;
	margin: auto;
	margin-top: 20px;
}

.work-button:hover,
.work-button:focus{
	background-color: rgba(75, 104, 191,0.7);
	font-weight: 25px;
}

/*----Portfolio Section end--------*/



/*-------Testimonial Section--------*/

.testimonial{
	width: 100%;
	height: 610px;
	display: block;
	background-image: url("Assets/office.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.testimonial-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

.testimonial-overlay > h1{
	text-align: center;
	color: white;
	font-size: 35px;
	margin-top: 40px;
}

.testimonial-overlay >p{
	text-align: center;
	color: white;
}

.profile-box{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	outline: dashed 2px rgba(75, 104, 191, 1.0);
	background-image: url("Assets/dillion.jpg");
	background-size: cover;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 20px;
}

.comment{
	width: 80%;
	height: 120px;
	/*background-color: blue;*/
	margin: auto;
	margin-top: 40px;
	text-align: center;
	letter-spacing: 0.5px;
	color: rgba(255, 255, 255, 1.0);
}

/*--------Testimonial Section end---------*/



/*.quote1{
	position: relative;
	right: 300px;
}

.quote2{
	position: relative;
	left: 300px;
}*/
	


/*--------Contact Me Section---------*/

.contact{
	width: 100%;
	height: 90vh;
	background-image: url("Assets/city2.jpg");
	background-size: cover;
	background-position: center;
	position: fixed;
	bottom: 0px;
	z-index: -20;
}

.contact-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 31, 14, 0.3);
}



.form-cont{
	width: 100%;
	height: 570px;
	margin-top: 400px;
	background-color: black;
	display: block;	
}

form{
	width: 80%;
	height: 680px;
	margin: auto;
	background-color: white;
	position: relative;
	bottom: 170px;
	padding: 50px;	
}

form > h1{
	font-size: 35px;
	text-align: center;

}

.input-box{
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
}
.textarea{
	resize: none;
}
#message{
	column-span: 70;
}

.submit-cont{
	width: 50px;
	height: 50px;
	/*background-color: yellow;*/
	margin: auto;
	margin-top: 20px;
}

.message-submit{
	margin-top: 20px;
	padding: 10px 25px;
	border-radius: 50px;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(75, 105, 191, 1.0);
	border: 1px solid rgba(75, 105, 191, 1.0);
	cursor: pointer;
	transition: background-color 1s ;
}

.message-submit:hover{
	background-color: rgba(75,105,191, 0.7);
	transition: all 1s linear;
}

.message-submit:focus,
.message-submit:active{
	border: 1px solid rgba(0, 0, 0, 0.8);
	transition: none;
}

/*--------Contact me Section end-------*/



/*-----Footer Section start--------*/


.footer-box2{
	width: 100%;
	height: 90px;
	background-color: rgba(75, 104, 191, 1.0);
	text-align: center;
	padding-top: 12px;
}

.socials{
	width: 150px;
	height: 40px;
	/* background-color: black; */
	margin: auto;
	/*margin-top: 10px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	justify-content: space-around;
}

.social-1{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.7s;
}

.social-1:hover{
	background-color: rgba(230, 229, 227, 0.5);

}

.social-2{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.7s;
}

.social-2:hover{
	background-color: rgba(230, 229, 227, 0.5);
}

.social-3{
	width: 35px;
	height: 35px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 50%;
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.8s;
}

.social-3:hover{
	background-color: rgba(230, 229, 227, 0.5);
}


.to-top{
	width: 50px;
	height: 50px;
	position: fixed;
	border-radius: 50%;
	bottom: 30px;
	right: 20px;
	box-shadow: 0.5px 0.5px 8px 3px lightblue;
}

/*-------Footer Section end-------*/

/*RESPONSIVENESS*/


@media only screen and (max-width:350px){
	/*----- Hero Box----- */
	.effect-div .effect{
		bottom: 70%;
	}
	
	.hero-overlay > img{
		border-radius: 50%;
		bottom: 70vw;
		width: 150px;
	}

	/* ----About Me------- */
	/* .about-me-box1{
		height: 330px;
	}
	.about-me-box2{
		height:1000px;
	}
	.about-me{
		height: 1400px; */

	/* -----My Services----- */
	.my-services{
		height: 2380px;
	}
	/* -----Contact me------ */
	.form{
		width: 80%;
	}
}

@media only screen and (min-width:350px){
	/* -------Hero Box------ */
	/* .hero-container{
		margin-left: 98px; }*/
	.my-name{
		margin-top: 20px;
	}

	.hero-socials{
		flex-wrap:wrap
	}

	/* ----About me----- */
	
	.about-me-box1-cont{
		height: 330px;
	}
	.about-me-box2{
		height: 1150px;
	}
	.about-me{
		height: 1600px;
	} 

	/* -----My Services----- */
	.my-services-1 div{
		height: 200px;
		padding-bottom: 10px;
	}
	.my-services{
		height: 2300px;
	}

	/* ------Project Request----- */
	.project-request{
		height: 530px;
}



@media only screen and (min-width:600px ){
	
	/* for herobox image */
	.hero-overlay > img{
		width: 300px;
		display: inline;
		right: 100px;
	}
	/* .hero-container{
		flex-direction: column;
		flex-wrap: wrap;
	} */

	/* ----About Me------- */
	.about-me-box1-cont{
		height: 200px;
	}
	.about-me-box2{
		height: 1050px;
	}
	.about-me-right div{
		width: 120px;
	}
	.about-me{
		height: 1400px;
	} 

	/*-----My Services-----*/
	.my-services-1 div{
		height: 100px;
	}

	/*------ Project Request----- */
	.project-request{
		height: 380px;
	}
	.button-wrap{
		flex-direction: row;
	}

	/* ------Testimonial------ */
	.testimonial{
		height: 510px;
	}

	form{
		width: 50%;
	}
}

@media only screen and (min-width:703px){
	/* -----My Services----- */
	.my-services{
		height: 1250px;
	}

	/* ------Project Request----- */
	.project-request{
		height: 400px;
	}
}

@media only screen and (min-width:768px ){
	/* ------Herobox------- */
	.hero-overlay > img{
		width: 400px;
		display: inline;
		right: 90px;
	}
	/* .hero-container{
		margin-left: 98px;} */
	
	/* ------About Me------ */
	.about-me-box2{
		flex-direction: row;
		height: 600px;
	}
	.about-me{
		height: 930px;
	} 
	.about-me-left{
		width:50%;
	}
	.about-me-right{
		width:50%;
	}

	/* ------Project Request----- */
	.project-request{
		height: 350px;
	}
	/*------- Portfolio Section------ */
	.recent-work-1{
		height: 150px;
	}
	.recent-work{
		height: 1800px
	}
	
}

@media only screen and (min-width:886px){
	/* -----Portfolio Section----- */
	.recent-work{
		height: auto;
		padding-bottom: 30px;
	}
	.recent-work-1{
		height: 100px;
	}
	.recent-work-2{
		height: auto;
		align-content: center;
	}
}

@media only screen and (min-width: 992px) {
	/* ------Navbar------- */
	.container .menu-items{
		font-size: 16px;
		display: flex;
		flex-wrap: nowrap;
		list-style-type: none;
		flex-direction: row;
		margin-top: 30px;
		justify-content: center;
		width: 750px;
		font-size: 1rem;
		/* padding: 10px; */
		position: relative;
		background-color: white;
		height: 40px;
		border-radius: 0px;
	}
	/* display: none;
	padding: 10px;
	width: 100%;
	height: 80vh;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: rgba(39, 38, 38, 0.98);
	border-radius: 0px 0px 10px 10px;
	transition: top 1s ease; */
	

	.menu-items > li > a{
		color: black;
		display: inline-block;
		text-decoration: none;
	}


	.hamburger{
		display: none;
	}

	.closeMenu{
		display: none;
	}

	/* ------My Services----- */
	.my-services-1 div{
		height: 70px;
	}

	/* --------Project Request------- */
	.project-request{
		height: 300px;
}

@media only screen and (min-width:1058px){
	/* ------My Services------ */
	.my-services{
		height:900px;
	}
}

@media only screen and (min-width: 1200px){
	/* ------Portfolio Section----- */
	.recent-work-2{
		height: 70%;
	}
}